name: Accessibility Check

on:
  push:
    paths:
      - '**/*.ipynb'
  pull_request:
    paths:
      - '**/*.ipynb'

jobs:
  a11y-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo with history
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v44
        with:
          files: "**/*.ipynb"

      - name: Scan changed notebooks
        if: steps.changed-files.outputs.any_changed == 'true'
        uses: berkeley-dsep-infra/jupyterlab-a11y-checker@refactor
        with:
          files: ${{ steps.changed-files.outputs.all_changed_files }}

